@(font-face){
	src: url("../fonts/lobster/lobster.ttf");
	font-family: "Lobster";
}
@(font-face){
	src: url("../fonts/round/round/ttf");
	font-family: "Round";
}
@(font-face){
	src: url("../fonts/sans/sans.ttf");
	font-family: "Sans";
}